* {
  margin: 10;
  padding: 10;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content, min-content, auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

.Header {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
  grid-area: header;
  border: solid yellow, 1px;
  background-color: #e26a2c;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Nav {
  border: solid blue 1px;
  grid-area: nav;
  background-color: #ff8243;
  padding: 13px;
  display: grid;
  grid-template-areas: "home community sortby category login user img";
}

.Nav button {
  font-size: 17px;
  margin: 30px;
}

.User {
  border: solid blue 1px;
}

.User p {
  font-size: 15px;
}

.NavSelector {
  font-size: 17px;
  width: min-content;
  height: min-content;
}

.NavSelector div {
  display: grid;
  grid-template-areas: "user img";
}

.Reviews {
  border: solid green 1px;
  grid-area: main;
  background-color: #fda65d;
  display: grid;
  grid-template-rows: min-content, auto;
  padding: 10px;
  grid-area: main;
}

.ReviewSnapshot {
  border: solid black 2px;
  background-color: #ab6d23;
  margin: 5px;
  width: 400px;
  padding: 10px;
  grid-template-rows: 50px min-content min-content min-content min-content min-content;
}

.ReviewSnapshot h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  grid-area: header;
  font-size: 20px;
}

.ReviewSnapshot p {
  margin: 20px;
  font-family: sans-serif;
  font-size: 18px;
  grid-area: p;
}

.ReviewSnapshot button {
  font-size: 40;
  width: min-content;
  margin-left: 50%;
  text-align: center;
  grid-area: button;
}

.ReviewSnapshot img {
  border-radius: 10px;
  grid-area: img;
}

.CategoryGames {
  text-transform: capitalize;
}

.ReviewList {
  display: flex;
  flex-wrap: wrap;
}

.HomeReviewImage {
  max-height: 80px;
  max-width: 80px;
  border-radius: 10px;
}

.GameImage {
  max-height: 400px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.ReviewList {
  list-style-type: none;
}

.userAvatar {
  border-radius: 20px;
  max-height: 80px;
  max-width: 80px;
}

.userAvatarNav {
  border-radius: 20px;
  max-height: 40px;
  max-width: 40px;
}

.PostComment {
  padding: 30px;
  margin: 30px;
  border: solid pink 1px;
  background-color: #ab6d23;
}

#CommentBox {
  width: 200px;
  height: 100px;
}

.CommentCard {
  padding: 30px;
  margin: 30px;
  border: solid pink 1px;
  background-color: #ab6d23;
  list-style-type: none;
}
